<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Development Cycle</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <script defer src="{{ '/js/alpine.min.js' | url }}"></script>
</head>
<body>
    {{ content | safe }}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.effect(() => {
                const modalOpen = Alpine.store('modalOpen');
                document.body.classList.toggle('modal-open', modalOpen);
            });
        });
    </script>
</body>
</html>
